.container {
  width: 100%;
  height: calc(var(--spacer) / 1.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  background-color: var(--warning);
  color: var(--primary-color);
}

.error {
  background-color: red;
  color: white;
}

.text {
  margin: 0 calc(var(--spacer) / 4);
  font-size: var(--font-size-small);
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: calc(var(--spacer) / 10) 0;
  }
}
