.button {
  background: linear-gradient(to right bottom, #7b1173, #ff4092);
  border: 0;
  padding: calc(var(--spacer) / 10) calc(var(--spacer) / 4);
  border-radius: var(--border-radius-button);
  cursor: pointer;
  text-transform: uppercase;
}

.textOnly {
  color: var(--primary-pink);
  background: none;
  padding: 0;
}

.button:disabled {
  opacity: 0.5;
  color: var(--primary-pink);
  cursor: default;
}
