.button {
  background: var(--primary-pink);
  border: 0;
  padding: calc(var(--spacer) / 16) calc(var(--spacer) / 6);
  border-radius: var(--border-radius-button);
  cursor: pointer;
  font-size: var(--font-size-small);
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.textOnly {
  color: var(--primary-pink);
  background: none;
  padding: 0;
}

.button:disabled {
  opacity: 0.3;
  cursor: default;
  color: white;
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--primary-pink);
  color: var(--primary-color);
  font-size: var(--font-size-mini);
}

.secondary:disabled {
  color: var(--primary-color);
}
