.container {
  display: flex;
  z-index: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--small-border-radius);
  height: 35px;
  width: 90px;
  margin: 0 auto;
}

.stake {
  font-size: var(--font-size-mini);
}

.stakeText {
  color: black;
  font-weight: bold;
}

.tokenImage {
  height: 8px;
  margin-right: 2px;
}

.footerConfidence {
  font-size: var(--font-size-mini);
  font-weight: bold;
  color: black;
}

.predictionContainer {
  padding: calc(var(--spacer) / 20) calc(var(--spacer) / 6);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.epochPriceContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.arrow {
  height: 12px;
}

.price {
  font-size: var(--font-size-normal);
}

.directionConainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.predictionText {
  color: black;
  font-weight: bold;
  font-size: var(--font-size-small);
}

.predictionArrow {
  height: 12px;
}

.stekesContainer,
.stake {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: var(--font-size-mini);
}

.stakeDirectionArrow {
  height: 6px;
}
