.container {
  display: flex;
  z-index: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--small-border-radius);
  height: 35px;
  margin: 0 auto;
}

.stake {
  font-size: var(--font-size-mini);
}

.tokenImage {
  height: 8px;
  margin-right: 2px;
}

.predictionContainer {
  padding: calc(var(--spacer) / 20) 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.epochPriceContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.arrow {
  height: 12px;
}

.price {
  font-size: var(--font-size-normal);
}

.directionConainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.predictionText {
  font-size: var(--font-size-small);
}

.predictionArrow {
  height: 12px;
}

.stekesContainer,
.stake {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-mini);
}

.stekesContainer {
  margin-left: 3px;
}

.stakeDirectionArrow {
  height: 8px;
}

.stakeMarginLeft {
  margin-left: 2px;
}

.loader {
  margin-left: 2px;
}
