.container {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.connections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  object-fit: contain;
}

.logo:hover {
  cursor: pointer;
}

.headerBurgerMenu {
  display: none;
}

@media screen and (max-width: 600px) {
  .headerBurgerMenu {
    display: block;
  }
  .container {
    flex-direction: column-reverse;
    height: 110px;
  }
  .connections {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    padding-left: 10px;
    padding-right: 10px;
    margin: calc(var(--spacer) / 6) 0;
  }
}
