.container {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.connections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  object-fit: contain;
}

.logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .logo {
    margin-bottom: calc(var(--spacer) / 10);
  }
  .container {
    flex-direction: column;
    padding: calc(var(--spacer) / 10) 0;
    height: 110px;
  }
  .connections {
    width: auto;
    overflow-y: scroll;
  }
}
