.container {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.connections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  object-fit: contain;
}
