.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tokenImage {
  height: 16px;
  margin-right: 4px;
}

.delta {
  margin-left: 4px;
  font-size: var(--font-size-small);
}
