.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price {
  margin-bottom: calc(var(--spacer) / 12);
}

.status {
  color: rgb(102, 207, 0);
}
