.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price {
  margin-bottom: calc(var(--spacer) / 12);
}

.status {
  color: rgb(0, 153, 0);
  line-height: 1;
  font-size: var(--font-size-small);
}

.tokenImage {
  height: 13px;
  margin-right: 3px;
}
