.table {
  width: 100%;
  color: var(--color-primary);
  border-spacing: 0;
  border-top: 1px solid var(--dark-grey);
  table-layout: fixed;
}

.tableRow {
  border: 0;
  border-bottom: 1px solid var(--dark-grey);
}

.tableHeaderCell,
.tableRowCell {
  text-align: center;
  padding: calc(var(--spacer) / 8) calc(var(--spacer) / 3);
  border: 0;
  border-bottom: 1px solid var(--dark-grey);
}

#alignStart div {
  justify-content: flex-start !important;
}

.historyEpochsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  display: block;
  margin: calc(var(--spacer) / 2) auto;
  width: 100%;
  height: 100%;
}

.assetHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.headerTextSmall {
  font-size: var(--font-size-small);
  font-weight: normal;
}

#fontRegular {
  font-weight: normal;
}

.displayColumn {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .table {
    width: 100%;
  }

  .tableHeaderCell:nth-child(1),
  .tableRowCell:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 1; /* ensures the fixed column is above other content */
    background: var(--background-color);
    border-right: 1px solid;
    border-color: var(--dark-grey);
  }
}
