.table {
  width: 100%;
  color: var(--color-primary);
  border-spacing: 0;
  border-top: 1px solid var(--dark-grey);
  table-layout: fixed;
}

.tableRow {
  border: 0;
  border-bottom: 1px solid var(--dark-grey);
}

.tableHeaderCell,
.tableRowCell {
  text-align: center;
  padding: calc(var(--spacer) / 8) calc(var(--spacer) / 3);
  border: 0;
  border-bottom: 1px solid var(--dark-grey);
}

#alignStart div {
  justify-content: flex-start !important;
}

.historyEpochsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  display: block;
  margin: calc(var(--spacer) / 2) auto;
  width: 100%;
  height: 100%;
}

.assetHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.predictionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.predictionText {
  font-size: var(--font-size-small);
  font-weight: normal;
}

#fontRegular {
  font-weight: normal;
}

.greyText {
  font-weight: normal;
  color: var(--dark-grey);
}
