.table {
  width: 100%;
  color: var(--primary-color);
  border-spacing: 0;
  border-top: 1px solid var(--primary-color);
  table-layout: fixed;
}

.tableHeader {
}

.tableRow {
  border: 0;
  border-bottom: 1px solid var(--primary-color);
}

.tableHeaderCell,
.tableRowCell {
  text-align: center;
  padding: calc(var(--spacer) / 8) 0;
  border: 0;
  border-bottom: 1px solid var(--primary-color);
}

.tableHeaderCell {
}

.tableRowCell {
}

.unactiveRow {
  background-color: #bfbfbf;
}
