.tooltipIcon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: calc(var(--spacer) / 4);
  width: calc(var(--spacer) / 4);
  fill: var(--primary-color);
  margin-left: calc(var(--spacer) / 15);
}

.tooltipIcon:hover {
  cursor: pointer;
}

.tooltipText {
  text-align: start;
  font-weight: normal;
  z-index: 2;
}

.textAlignCenter {
  text-align: center;
}
