.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  position: relative;
}

.walletInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e6bac;
  border-radius: 10px;
}

.chainName {
  font-weight: bold;
  margin: 0 10px;
}

.switchNetwork {
  position: absolute;
  top: 50px;
}
