.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  position: relative;
}

.walletInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.chainName {
  font-weight: bold;
  margin: 0 10px;
}

.switchNetwork {
  position: absolute;
  top: 50px;
}

.button {
  /*border: 1px solid rgb(var(--connect-button-border-rgb));*/
  border: 0px none;
  box-shadow: inset 0px 0px 1px 1px rgb(var(--connect-button-border-rgb));
  color: rgb(var(--connect-button-color-rgb));
  border-radius: var(--button-border-radius);
  font-weight: 600;
  font-size: 14px;
  background: transparent;
  padding: 12px 15px 12px 15px;
}
